 : :root{
   --deepblue:  #00b4d8;
   --skyblue: #caf0f8;
 }

  * {
   box-sizing: border-box;
   margin: 0%;
   font-family: Arial, Helvetica, sans-serif;
 }

 .container {
   margin-inline: 100px;
 }

 nav {
   background-color: #00b4d8;
   color: #caf0f8;
 }

 nav .container {
   display:flex;
   align-items: center;
   padding-block: 18px;
 }

 nav ul {
   display: flex;
   list-style: none;
   margin-left: auto;
 }

 nav li a {
   color: #fff;
   tekt-decoration: none;
   margin-inline: 10px;
   font-size: 18px;
 }

 #home {
  background-color: aqua;
  text-align: center;
  padding-block: 100px;
 }

#home img {
  width: 300px;
  border-radius: 100px;
  border: solid 1px var(--deepblue)
}

#home h1 {
  font-size: 40px;
  margin-block: 10px;
}

#home h4 {
  font-size: 25px;
  font-weight: 200px;
}

section {
  padding-block: 30px;
}

.title {
  font-size: 30px;
  text-align: center;
  margin-block: 50px;
}

#about p {
  font-size: 20px;
  text-align: center;
  padding-inline: 250px;
  margin-block: 10px;
}

#pengalaman {
  background-color: var (--skyblue);
}

.card-container {
  display: flex;
  gap: 20px;
}

.card {
  background-color: aqua;
  border-radius: 10px;
}

.card-text {
  padding: 20px;
}

.card img {
  width: 200px;
  border-radius: 10px 10px 0 0;
}

#pengalaman p {
  font-size: 30px;
  text-align: center;
  padding-inline: 250px;
  margin-block: 10px;
}

.box-container {
  display: flex;
 justify-content: center;
  gap: 20px;
}

 .box {
  background-color: aqua;
  padding: 30px;
  border-radius: 10px;
  border: solid 1px #000;
  width: 400px;
}

#skill .box h1 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}

#skill  .box li {
  font-size: 20px;
} 
